<!-- footer
================================================== -->
<footer>

   <div class="row">

      <div class="five columns" style="display: inline">
         <ul class="copyright">
           <li>Made with &hearts; by <a href="/team.html"> The Organizing Team </a></li>
         </ul>
      </div>
      <div class="two columns" style="display: inline">
         <ul class="copyright">
           <li><a href="https://www.facebook.com/interiit.tech/"><i class="fa fa-facebook"></i></a></li>
           {% comment %} <li><a href="https://www.linkedin.com/company/wncc-iitb/"><i class="fa fa-linkedin"></i></a></li>
           <li><a href="https://www.youtube.com/channel/UCs3x_XxwScIAzDUfN1lbbGw"><i class="fa fa-youtube"></i></a></li> {% endcomment %}
         </ul>
      </div>
      <div class="five columns" style="display: inline">
         <ul class="copyright">
           <li><a href="/">Home</a></li>
           <li><a href="/vision.html">Vision</a></li>      
           <li><a href="/events.html">Events</a></li>
                                 {% comment %} <li><a href="/schedule">Schedule</a></li> {% endcomment %}
            <li><a href="/team.html">The Team</a></li>
         </ul>
      </div>
      <div id="go-top" style="display: block;"><a title="Back to Top" href="#">Go To Top</a></div>

   </div>

</footer> <!-- Footer End-->
<!-- Java Script
================================================== -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
<script type="text/javascript" src="/assets/js/jquery-migrate-1.2.1.min.js"></script>

<script src="/assets/js/jquery.flexslider.js"></script>
<script src="/assets/js/doubletaptogo.js"></script>
<script src="/assets/js/init.js"></script>
