<!-- Header
================================================== -->
<header>

   <div class="row">

      <div class="twelve columns">

         <div class="logo">
            <a href="/"><img alt="" src="/assets/images/InterIITlogo.png"></a>
         </div>

         <nav id="nav-wrap">

            <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
           <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

            <ul id="nav" class="nav">

              <li class="current"><a href="/">Home</a></li>
              <li><a href="/events.html">Events</a>              </li>
               <li><span><a href="/competitions.html">Competitions</a></span>
                  <ul>
                     <li><a href="/competitions.html">Competition 1</a></li>
                     <li><a href="/competitions.html">Competition 2</a></li>
				<li><a href="/competitions.html">Competition 3</a></li>
				<li><a href="/competitions.html">Competition 4</a></li>
                  </ul>
               </li>
               <li><a href="/team">The Team</a></li>
               <!-- <li><a href="styles.html">Features</a></li> -->

            </ul> <!-- end #nav -->

         </nav> <!-- end #nav-wrap -->

      </div>

   </div>

</header> <!-- Header End -->
