{% capture ignore %}

{% assign url = site.baseurl | prepend: site.url %}

{% capture title %}{% if page.meta_title %}{{ page.meta_title}}{% elsif page.title %}{{ page.title }}{% else %}{{ site.title | strip_html | strip }}{% endif %}{% endcapture %}

{% assign title = title | strip_html | escape | strip_newlines %}

{% endcapture %}

{% capture description %}{% if page.meta_description %}{{ page.meta_description }}{% elsif page.teaser %}{{ page.teaser }}{% elsif page.excerpt %}{{ page.excerpt }}{% elsif site.description %}{{ site.description }}{% endif %}
{% assign description = description | strip_html | escape | strip %}
{% endcapture %} 

  <!--- Basic Page Needs -->
  <!DOCTYPE html>
  <!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
  <!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
  <!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta name="google-site-verification" content="NfmJcTorcm3atxQKsDeezwF9HC23fVbhWkwLLvTTalc" />
     <!--- Basic Page Needs
     ================================================== -->
     <meta charset="utf-8">
  	<title>Inter-IIT Tech 2018</title>
  	<meta name="description" content="{{ description }}">
  	<meta name="author" content="Web and Coding Club, IIT Bombay">

     <!-- Mobile Specific Metas
     ================================================== -->
  	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  	<!-- CSS and Canonical
      ================================================== -->
     <link rel="stylesheet" href="/assets/css/default.css">
  	<link rel="stylesheet" href="/assets/css/layout.css">
     <link rel="stylesheet" href="/assets/css/media-queries.css">
     <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">
     <!-- Script
     ================================================== -->
  	<script src="/assets/js/modernizr.js"></script>

     <!-- Favicons
  	================================================== -->
  	<link rel="shortcut icon" href="/assets/favicon.ico" >
    <link rel="apple-touch-icon" href="/assets/images/icons/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/icons/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/icons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/icons/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/icons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/icons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/icons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/icons/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icons/apple-touch-icon-180x180.png" />

  </head>
